* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>div {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
}
body>div:nth-child(2n) {
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    padding: 0 25rem;
}

body>div>div {
    width: 12rem;
    height: 8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px lightgray;
}

body>div>div>div:first-child{
    position: absolute;
    background-color: lightgrey;
}

body>div>div>div {
    width: 5.75rem;
    height: 5.75rem;
    background-color: rgba(255, 160, 122, 0.712);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 5;
}

.box01:hover {
    transform: rotate(45deg);
}

.box02:hover {
    transform: scale(1,0.65);
}

.box03:hover {
    transform: scale(0.65,1);
}

.box04:hover {
    transform: scale(2,2);
}

.box05:hover {
    transform: scale(2,1);
}

.box06:hover {
    transform: scale(1,2);
}

.box07:hover {
    transform: skew(40deg, 0deg);
}

.box08:hover {
    transform: skew(0deg, 40deg);
}

.box09:hover {
    transform: translate(2.7rem,1rem);
}

.box10:hover {
    transform: translate(2.7rem,0);
}

.box11:hover {
    transform: translate(0,2.7rem);
}

.box12:hover {
    transform: translate(2.7rem ,0) skew(0deg, 40deg) scale(2,2);
}

.box13:hover {
    transform: perspective(100px) rotateX(55deg);
}

.box14:hover {
    transform: perspective(100px) rotateY(55deg);
}

.box15:hover {
    transform: rotate(45deg);
    transform-origin: top right;
}

.box16:hover {
    transform: rotate(45deg);
    transform-origin: left bottom;
}

.box17:hover {
    transform: perspective(200px) rotateX(40deg);
    transform-origin: bottom;
}

.box18:hover {
    transform: perspective(200px) rotateX(60deg);
    transform-origin: top;
}

.box19:hover {
    transform: perspective(200px) rotateY(35deg);
    transform-origin: left;
}

.box20:hover {
    transform: perspective(200px) rotateY(60deg);
    transform-origin: right;
}

.box21:hover {
    transform: scale(2);
    transform-origin: right top;
}

.box22:hover {
    transform: scale(2);
    transform-origin: bottom left;
}

.box23:hover {
    transform: scaleX(2);
    transform-origin: right;
}

.box24:hover {
    transform: scaleX(2);
    transform-origin: left;
}

.box25:hover {
    transform: scaleY(2);
    transform-origin: top;
}

.box26:hover {
    transform: scaleY(2);
    transform-origin: bottom;
}
